<form class="container mt-5">
    <h2>Your account</h2>
    <input type="text" name="username" id="username" [(ngModel)]="username" placeholder="Username" required />
    <input type="email" name="correo" id="correo" [(ngModel)]="correo" placeholder="Email Address" required />
    <input type="password" name="pass" id="pass" [(ngModel)]="pass" placeholder="New Password" minlength="6" required />
    <input type="password" name="repPass" id="repPass" [(ngModel)]="repPass" placeholder="Confirm Password"
        minlength="6" required />
    <p [ngClass]="respuesta === 'Profile updated' ? 'success' : 'fail'">{{respuesta}}</p>
    <div class="d-flex justify-content-end">
        <button ngClass="update" (click)="onUpdate()">Update</button>
        <!-- Button trigger modal -->
        <button class="mx-3 delete" sty (click)="onDelete()">
            Delete
        </button>
    </div>

</form>